.container {
  height: 100vh;
  width: 100%;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Below code for Navbar  */

.navbar {
  height: 7%;
  width: 100%;
  border: 1px solid #f1f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-option {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.image {
  height: 100%;
  display: flex;
  align-items: center;
}

.image a img {
  margin: 30px;
  width: 120px;
  height: auto;
  margin-right: 40px;
}

.option {
  display: flex;
  list-style: none;
  gap: 20px;
  /* font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.option li a {
  text-decoration: none;
  color: black;
}

.option li a:hover {
  color: #ff6f61;
}

.option .safe {
  margin-left: -16px;
  padding-top: 4px;
}

.safe {
  background: #ff6f61;
  font-size: 0.6rem;
  margin-top: 1px;
  border-radius: 2px;
  /* font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  filter: drop-shadow(0 0 10px red);
  animation: glow 0.5s alternate infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px red);
  }

  100% {
    filter: drop-shadow(0 0 25px red);
  }
}

.safe a {
  text-decoration: none;
  color: #fff;
}

.save-more {
  background: #ff6f61;
  font-size: 0.6rem;
  margin-left: 5px;
  border-radius: 2px;
  /* font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
.save-more a {
  text-decoration: none;
  color: #fff;
}

.login-box {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
.ls {
  display: flex;
  align-items: center;
}

.login,
.signup {
  margin: 0 5px;
}
.ls a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.offer {
  padding: 10px;
}

.image2 {
  height: 100%;
}

.image2 img {
  margin: 30px;
  width: 30px;
  height: auto;
}

.need-help a {
  padding: 40px;
}